<!DOCTYPE html>
<html>
  <head>
    <title>Blogit</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <script src="https://kit.fontawesome.com/2cd7f5bf2c.js" crossorigin="anonymous"></script>


    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

     <meta name="description" content="">
    <meta name="author" content="">

    <!-- mobile specific metas
    ================================================== -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <%= favicon_link_tag "apple-touch-icon.png",sizes: "180*180",rel: "icon"%>
    <%= favicon_link_tag "favicon-32x32.png",sizes: "32*32"%>
    <%= favicon_link_tag "favicon-16x16.png",sizes: "16*16"%>
  </head>

  <body class="bg-light authors">
    <div class="container">
       <p class="notice"><%= notice %></p>
       <p class="alert"><%= alert %></p>


      <div class="row">
        <div class="col page-nav">
        <%= render partial: "layouts/menu" %>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <%= yield %>
        </div>
      </div>
       <%= render partial: 'layouts/footer' %>

    </div>
  </body>
</html>
